In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

    city   district  neighborhood  room  living_room  area  age  floor  price
0  izmir      konak    kilic-reis     1            1    55   25      1  12000
1  izmir      konak    akin-simav     3            1   150   35      3  16000
2  izmir       buca       adatepe     2            1    55    2      3    200
3  izmir       buca      yaylacik     2            1    60    2      3    200
4  izmir  karsiyaka  bahcelievler     3            1   160   27      3  18000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   object
 1   district      8136 non-null   object
 2   neighborhood  8136 non-null   object
 3   room          8136 non-null   int64
 4   living_room   8136 non-null   int64
 5   area          8136 non-null   int64
 6   age           8136 non-null   int64
 7   floor         8136 non-null   int64
 8   price         8136 non-null   int64
dtypes: int64(6), object(3)
memory usage: 572.2+ KB

In [5]:
df["city"] = df["city"].astype("category")
df["district"] = df["district"].astype("category")
df["neighborhood"] = df["neighborhood"].astype("category")
df["room"] = df["room"].astype("int")
df["living_room"] = df["living_room"].astype("int")
df["area"] = df["area"].astype("int")
df["age"] = df["age"].astype("int")
df["floor"] = df["floor"].astype("int")
df["price"] = df["price"].astype("int")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   category
 1   district      8136 non-null   category
 2   neighborhood  8136 non-null   category
 3   room          8136 non-null   int64
 4   living_room   8136 non-null   int64
 5   area          8136 non-null   int64
 6   age           8136 non-null   int64
 7   floor         8136 non-null   int64
 8   price         8136 non-null   int64
dtypes: category(3), int64(6)
memory usage: 438.2 KB

In [7]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1 
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_values)
    print(f"Column: {column}, min: {min_value}, max: {max_value}")

Column: room, min: 0.5, max: 4.5
Column: living_room, min: 1.0, max: 1.0
Column: area, min: -17.5, max: 242.5
Column: age, min: -20.0, max: 44.0
Column: floor, min: -2.0, max: 6.0
Column: price, min: -18000.0, max: 62000.0

In [ ]:
# ...existing code...
mask = np.ones(len(df), dtype=bool)
for i, column in enumerate(columns):
    mask &= (df[column] >= min_values[i]) & (df[column] <= max_values[i])
df = df[mask]
# ...existing code...

In [1]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df.describe()

In [ ]:
df= df[df["price"] >= 3000]

In [ ]:
df.to_csv("data_cleaned.csv", index=False)