In [101]:
import os
import numpy as np
import pandas as pd

In [102]:
def drop_columns(df, cols):
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"{e}")

In [103]:
df = pd.read_csv("ham veri/01.csv")

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        1416 non-null   object
 1   photo-count          1416 non-null   int64
 2   list-view-price      1416 non-null   object
 3   list-view-date       1416 non-null   object
 4   left                 1416 non-null   object
 5   celly                1416 non-null   object
 6   celly 2              1416 non-null   object
 7   celly 3              1416 non-null   object
 8   celly 4              1247 non-null   object
 9   list-view-location   1416 non-null   object
 10  img-wrp href         642 non-null    object
 11  he-lazy-image src    1321 non-null   object
 12  he-lazy-image src 2  563 non-null    object
 13  list-view-header     1412 non-null   object
dtypes: int64(1), object(13)
memory usage: 155.0+ KB

In [105]:
df.isnull().sum()

img-link href            0
photo-count              0
list-view-price          0
list-view-date           0
left                     0
celly                    0
celly 2                  0
celly 3                  0
celly 4                169
list-view-location       0
img-wrp href           774
he-lazy-image src       95
he-lazy-image src 2    853
list-view-header         4
dtype: int64

In [106]:
files = os.listdir("ham veri")
df = pd.concat([pd.read_csv(f"ham veri/{file}") for file in files], ignore_index=True)

In [107]:
df.sample()

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,list-view-location,img-wrp href,he-lazy-image src,he-lazy-image src 2,list-view-header,branded__text,branded__text 2,img-wrp href 2,he-lazy-image src 3
7736,https://www.hepsiemlak.com/mugla-bodrum-umurca...,25.0,75.000,22-02-2024,Kiralık Müstakil Ev,3 +\n 1,800 m²,10\n Yaşında,NaN,"Bodrum, Umurca Mahallesi",NaN,https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,"Bodrum Merkez Umurçada Müstakil Özel Havuzlu,B...",NaN,NaN,NaN,NaN

In [108]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,left,celly,celly 2,celly 3,celly 4,list-view-location,img-wrp href,he-lazy-image src,he-lazy-image src 2,list-view-header,branded__text,branded__text 2,img-wrp href 2,he-lazy-image src 3
0,https://www.hepsiemlak.com/izmir-konak-kilic-r...,17.0,12.000,15-04-2024,Kiralık Daire,1 +\n 1,55 m²,25\n Yaşında,Yüksek Giriş,"Konak,",https://www.hepsiemlak.com/emlak-ofisi/grup-ga...,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.hepsiemlak.com/izmir-konak-akin-si...,35.0,16.000,09-04-2024,Kiralık Daire,3 +\n 1,150 m²,35\n Yaşında,3. Kat,"Konak,",https://www.hepsiemlak.com/emlak-ofisi/grup-ga...,https://www.hepsiemlak.com/img/loadings/noImag...,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.hepsiemlak.com/izmir-buca-adatepe-...,5.0,200,13-04-2024,Kiralık Daire,2 +\n 1,55 m²,2\n Yaşında,Ara Kat,"Buca,",https://www.hepsiemlak.com/emlak-ofisi/eleganc...,https://hecdnnw.hemlak.com/mncropresize/91/68/...,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.hepsiemlak.com/izmir-buca-yaylacik...,7.0,200,13-04-2024,Kiralık Daire,2 +\n 1,60 m²,2\n Yaşında,3. Kat,"Buca,",https://www.hepsiemlak.com/emlak-ofisi/eleganc...,https://hecdn01.hemlak.com/mncropresize/280/21...,https://hecdnnw.hemlak.com/mncropresize/91/68/...,NaN,NaN,NaN,NaN,NaN
4,https://www.hepsiemlak.com/izmir-karsiyaka-bah...,25.0,18.000,15-04-2024,Kiralık Daire,3 +\n 1,160 m²,27\n Yaşında,3. Kat,"Karşıyaka, Bahçelievler Mahallesi",NaN,https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,Karşıyaka Kiralık 2 Balkonlu Naldöken Metro Sa...,NaN,NaN,NaN,NaN

In [109]:
df.columns

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-location',
       'img-wrp href', 'he-lazy-image src', 'he-lazy-image src 2',
       'list-view-header', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [110]:
cols = ['photo-count', 'list-view-date', 'list-view-header', 'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href', 'he-lazy-image src 2', 'branded__text', 'branded__text 2', 'img-wrp href 2', 'he-lazy-image src 3']
drop_columns(df, cols)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    8136 non-null   object
 1   list-view-price  8136 non-null   object
 2   celly            8136 non-null   object
 3   celly 2          8136 non-null   object
 4   celly 3          8136 non-null   object
 5   celly 4          6858 non-null   object
dtypes: object(6)
memory usage: 381.5+ KB

In [112]:
df["img-link href"].unique()

array(['https://www.hepsiemlak.com/izmir-konak-kilic-reis-kiralik/daire/130125-62',
       'https://www.hepsiemlak.com/izmir-konak-akin-simav-kiralik/daire/130125-91',
       'https://www.hepsiemlak.com/izmir-buca-adatepe-kiralik/daire/138098-14',
       ...,
       'https://www.hepsiemlak.com/mugla-mentese-yenikoy-kiralik/daire/76834-2215',
       'https://www.hepsiemlak.com/mugla-bodrum-turkbuku-kiralik/yazlik/5343-8596',
       'https://www.hepsiemlak.com/mugla-ortaca-cayli-kiralik/daire/82884-1210'],
      dtype=object)

In [113]:
df["location"] = df["img-link href"].apply(lambda x: x.split("/")[3])
df["city"] = df["location"].str.split("-").str[0]
df["district"] = df["location"].str.split("-").str[1]
df["neighborhood"] = df["location"].str.split("-").str[2:-1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: "-".join(x))

In [114]:
df["neighborhood"].unique()

array(['kilic-reis', 'akin-simav', 'adatepe', 'yaylacik', 'bahcelievler',
       'kultur', 'kazimdirik', 'yesil', 'atifbey', 'dokuz-eylul', 'irmak',
       'cumhuriyet', 'gumuldur-inonu', 'alacati', 'esenyali', 'bostanli',
       'colak-ibrahim-bey', 'cakmakli', 'yali', 'umut', 'manavkuyu',
       'cakaltepe', 'ataturk', 'camlicay', 'kucuk-cigli', 'cetin-emec',
       'zafer', 'sogukkuyu', 'zubeyde-hanim', 'emek', 'cakabey',
       'germiyan', 'yenikent', 'yenigun', 'barbaros', 'gulyaka',
       'yasar-kemal', 'general-kazim-ozalp', 'kozagac', 'goncalar',
       'mansuroglu', 'denizli', 'bayrakli', 'egitim', 'evka-3',
       'mithatpasa', 'fatih', 'altievler', 'limanreis', 'guvendik',
       'yesiltepe', 'atasehir', 'cukuralti', 'esentepe', 'kemal-ataturk',
       'mehmet-ali-akman', '29-ekim', 'onur', 'tuna', 'kabakum',
       'fevzi-cakmak', 'gazikent', 'erzene', 'camli', 'poligon',
       'goztepe', 'atilla', 'doganay', 'cuneytbey', 'kurucesme',
       'altinyunus', 'balatcik', 'reisdere', 'bahriye-ucok', 'uckuyular',
       'dedebasi', 'imbatli', 'firat', 'ismet-inonu', 'tahsin-yazici',
       'ilica', 'vatan', 'camtepe', 'ornekkoy', 'semikler', 'alsancak',
       'metin-oktay', 'atakent', 'doganlar', 'donanmaci', 'murat-reis',
       'dalyan', 'nergiz', 'orhanli', 'kemal-reis', 'torasan', 'alaybey',
       'kahramanlar', 'bahariye', 'altay', 'refet-bele',
       'mustafa-kemal-ataturk', 'camlikule', 'koruturk', 'tepekule',
       'inkilap', 'basin-sitesi', 'aksoy', 'turgut-reis', 'gulbahce',
       'mimar-sinan', 'tersane', 'bahar', 'koyici', 'kazim-karabekir',
       'arap-hasan', 'ciftlik', 'piri-reis', '16-eylul', 'sirinkent',
       'mevlana', 'ismetpasa', 'maltepe', 'aydinlikevler', 'musalla',
       'aydogdu', 'gumuldur-fevzi-cakmak', 'candarli', '30-agustos',
       'kahramandere', 'hidirlik', 'halkapinar', 'fikri-altay',
       'ali-fuat-cebesoy', 'yildiz', 'osmangazi', 'selvili', 'yesilova',
       'salimbey', 'kemalpasa', 'narli', 'saip', '75-yil', 'yedi-eylul',
       'inonu', 'yenikale', 'gorece-cumhuriyet', 'salihler',
       'ahmet-efendi', 'rafet-pasa', 'muhittin-erener', 'gunesli',
       'maliyeciler', 'kasimpasa', 'mavisehir', '9-eylul', 'gazipasa',
       'sakarya', 'calikusu', 'ulucak-mustafa-kemal-ataturk', 'gazi',
       'cicek', 'mordogan', 'bozyaka', 'baris', 'zafertepe',
       'mustafa-kemal-pasa', 'altintas', 'golcukler', 'mermerli',
       'celal-bayar', 'hurriyet', 'goksu', 'ovacik', 'efeler',
       'zeytinalani', 'sevgi', 'anafartalar', 'ulamis', 'iskele',
       'teleferik', 'yurdoglu', 'balikliova', 'gazi-mustafa-kemal',
       'guzelyali', 'tepekoy', 'adalet', 'merkez', 'camikebir', 'selcuk',
       'ozbek', 'villakent', 'ulus', 'r-sevket-ince', 'aydin', 'cay',
       'sahilevleri', 'menderes', 'ilipinar', 'ugur-mumcu', 'kazim-dirik',
       'kurtulus', 'fuat-edip-baksi', 'zeytinlik', '85-yil-cumhuriyet',
       'turabiye', 'camlipinar', 'yesilbaglar', 'gumuldur-ataturk',
       'cankaya', 'evka-4', 'yenibagarasi', 'yemislik', 'torbali',
       'yelki', 'egekent', '2-inonu', 'uzundere', 'guven', 'buca-osb',
       'kalabak', 'yenice', 'istiklal', 'yesil-pinar', 'mustafa-kemal',
       'kosukavak', 'fahrettin-altay', 'yakakent', 'korfez', 'ayvatlar',
       'ayrancilar', 'incirli-pinar', 'tulbentli', 'oglananasi-ataturk',
       'camlik', 'sigacik', 'huzur', 'gunaltay', 'kizilay', 'evka-5',
       'isa-bey', 'ardic', 'kavaklidere',
       'harmandali-gazi-mustafa-kemal-ataturk', 'gurpinar', 'fevzipasa',
       'ozdere-cumhuriyet', 'bademli', 'sifne', 'umurbey', 'devrim',
       'reis', 'yelalti', 'bademler', 'catalkaya', 'postacilar',
       'tinaztepe', 'karacaoglan', 'ildir', 'sasalli-merkez', 'laleli',
       'ergene', 'evka-6', 'yahselli', 'boyalik', 'gunerli', 'dicle',
       'salih-omurtak', 'esatpasa', 'guzeltepe', 'suleyman-demirel',
       'haciveli', 'alpaslan', 'siteler', 'yamanlar', 'kuscular',
       'gumuspala', 'yenikoy', 'yukarikizilca-merkez', 'dumlupinar',
       '14-mayis', 'ufuk', 'demirkopru', 'turkcedit', 'vali-rahmi-bey',
       'muammer-akar', 'm-fevzi-cakmak', 'dogancay', 'bengiler',
       'gaziler', '4-eylul', 'peker', 'muratbey', 'yeni-mahalle', 'kuner',
       'murathan', 'belen', 'gazi-osman-pasa', 'emrez', 'cennetoglu',
       'akincilar', 'ulucak-cumhuriyet', 'esenlik', 'ahmet-taner-kislali',
       'yigitler', 'payamli', 'armutlu-85-yil-cumhuriyet', 'sasal',
       'ertugrul', 'sirinkapi', 'kozbeyli', 'bengisu',
       'gumuldur-cumhuriyet', 'adnan-suvari', 'beyazevler', 'buca-koop',
       'emmioglu', 'rustem', 'dagkizilca', 'ahmetbeyli', 'haci-isa',
       'icmeler', 'tepecik', 'develi', 'birlik', 'kocatepe', 'dolaylar',
       'yagcilar', 'oglananasi-cumhuriyet', 'turkmen', 'izkent',
       'turkmenkoy', 'armutlu-hurriyet', 'adnan-menderes', 'duzce',
       'akdeniz', 'pancar', 'yazibasi', 'cinarli', 'aziziye',
       'org-nafiz-gurman', 'inciralti', 'orta', 'etiler', 'tuzcu',
       'karanfil', 'cinar', 'celebi', 'sira', 'caldiran', 'gunluce',
       'sehit-mehmet', 'bagcilar', 'mesrutiyet', 'universite', 'konak',
       'maresal-fevzi-cakmak', 'karacaagac', 'degirmendere', 'doga',
       'gungor', 'umit', 'aktepe', 'seyhan', 'yaylayurt', 'birgi',
       'mersin-alani', 'ocakli', 'sekiz-eylul', 'evka-2', 'fahrettinpasa',
       'karabaglar', 'sirintepe', 'golcuk', 'yeni', 'ataturk-osb',
       'egemenlik', '2-kadriye', 'kazimpasa', 'ahihidir', 'muradiye',
       '2-anafartalar', 'kuyualan', 'goktasli', 'dincer', 'resat-bey',
       'guzelyurt', 'ulu-camii', 'acarlar', 'haci-ishak', 'pasa',
       'uncubozkoy', 'eski-cami', 'kirveli', 'ergenekon', 'efendi',
       'arda', 'albayrak', 'selvilitepe', 'hafsa-sultan', 'topcuasim',
       'ragip-bey', 'mesir', 'kocacesme', 'medar', 'tunca', 'yoruk',
       'karaali', '1-anafartalar', 'yarhasanlar', 'sehitler', 'subasi',
       'tevfikiye', 'kethuda', 'istasyonalti', 'durasilli', 'utku',
       'dere', 'seyit-ahmet', 'gokceahmet', 'ayni-ali', 'has-hoca',
       'merkez-efendi', 'saripinar', 'cengiz-topel', 'kecili-koy',
       'carsi', 'ege', 'istasyon', 'akmescit', 'dilsikar', 'gaybiefendi',
       'yunusemre', 'meydan', 'fuatpasa', 'saray', 'parmakoren', 'akkent',
       'dagcesme', 'alipasa', 'yildirim-beyazit', 'servi', 'balikli',
       'mecidiye', 'omerbey', 'g-kemal', 'kemaloz', 'durak', 'unalan',
       'hasan-karaagac', 'erenler', 'ali-ihsan-pasa',
       'erkmen-fevzi-cakmak', 'kanlica', 'dortyol', 'sahipata',
       'osman-gazi', 'asagi', 'aktas', 'sirinevler', 'veysel-karani',
       'pinarli', 'dervis-pasa', 'esrefpasa', 'imaret', 'marulcu',
       'karsiyaka', 'haci-musa', 'yunus-emre', 'nazmi-saatci', 'selcuklu',
       'sazi', 'guzelcamli', 'isabeyli', 'akbuk', 'ikicesmelik', 'zeybek',
       'karaova', 'guzelhisar', 'yavansu', 'gerenkova', 'cuma', 'girne',
       'davutlar', 'ovaeymir', 'hasanefendi-ramazan-pasa', 'hisar',
       'bayraklidede', 'kadinlar-denizi', 'sogucak', 'koprulu-veysipasa',
       'sumer', 'altinkum', 'ata', 'zeytinkoy', 'yenicamii', 'kemer',
       'hacifeyzullah', 'kadikalesi', 'uceylul', 'yilmazkoy', 'hamitabat',
       'ortaklar', 'mesudiye', 'yedieylul', 'yamac', 'sevketiye',
       'isikli', 'alacamescit', 'caferli', 'agacli', 'imamkoy', 'karacay',
       'turan', 'sandikli', 'celtikci', 'yaylakoy', 'karakollar',
       'mersindere', 'camiatik', 'degirmenonu', 'muratdede', 'topraklik',
       'kuspinar', 'sirakapilar', 'akkonak', 'incilipinar', 'feslegen',
       'karaman', 'gultepe', 'mehmetcik', 'selcuk-bey', 'karahasanli',
       'saraylar', 'asmalievler', 'kinikli', 'kayalar', 'hacikaplanlar',
       'bagbasi', 'kervansaray', 'atalar', 'gumuscay', '15-mayis',
       'sevindik', 'bala', 'kizilcasogut', 'deliktas', 'gerzele',
       'pelitlibag', 'mehmet-akif-ersoy', 'kocadere', 'servergazi',
       'saruhan', 'hallaclar', 'altintop', 'sirinkoy', 'ilbade',
       'yenisafak', 'zumrut', 'gokpinar', 'dokuzkavaklar', 'tekke',
       'cankurtaran', 'bereketler', '1200-evler', 'kayihan', 'cakmak',
       'garipkoy', 'yenisehir', 'gemispinari', 'karakurt', 'dirmil',
       'inlice', 'eskicesme', 'muskebi', 'emirbeyazit', 'umurca',
       'okcular', 'akyaka', 'gulluk', 'gundogan', 'kemaliye', 'bitez',
       'karacali', 'golkoy', 'kucukbuk', 'cayli', 'gumusluk', 'kafaca',
       'karaburun', 'gokova', 'yalikavak', 'gulpinar', 'dorttepe',
       'yangi', 'sogutluyurt', 'armutalan', 'geris', 'ismet-pasa',
       'ortakoy', 'cirkan', 'hamitkoy', 'gelisim', 'torba', 'turgutreis',
       'beldibi', 'kumbahce', 'patlangic', 'bayir', 'akyarlar', 'oren',
       'beyobasi', 'karamehmet', 'terzialiler', 'karagedik', 'akcaalan',
       'bogazici', 'dogusbelen', 'yakakoy', 'turgut', 'dugerek',
       'guvercinlik', 'turkbuku', 'orhaniye', 'tuzla', 'kizlan',
       'koyunbaba', 'foca', 'karabag', 'emecik', 'yokusbasi', 'gumbet',
       'derekoy', 'alparslan', 'akarca', 'kotekli', 'karaculha',
       'toparlar', 'islamhaneleri', 'camkoy', 'babatasi', 'yesilyurt',
       'akinci', 'cami', 'kesikkapi', 'becin', 'resadiye', 'gurece',
       'pinar', 'pazaryeri', 'mumcular', 'menteseoglu', 'tepe', 'sogut',
       'tasyaka', 'beskopru', 'oludeniz', 'gokce', 'ulucami', 'peksimet',
       'gocek', 'bozalan', 'gunes', 'turkevleri', 'yahsi', 'serefler',
       'datca', 'yaka', 'kayakoy', 'farilya', 'eksiliyurt', 'muslihittin',
       'kargi', 'kapukargin', 'kizilagac', 'eskikoy', 'dalakli',
       'pinarlibelen', 'haci-ilyas', 'kizilbel', 'sarigerme', 'koprubasi',
       'portakallik', 'dikmekavak', 'yesilkoy', 'sariana', 'ugurlu',
       'konacik', 'turunc', 'gulagzi', 'yaniklar', 'kazikli',
       'turkkuyusu', 'fevziye', 'kemeralti', 'arikbasi', 'selimiye',
       'kiyikislacik', 'cevat-sakir', 'haciabti', 'cildir', 'meselik',
       'ekincik', 'hisaronu', 'akcaova', 'ahmet-cavus-hayitli',
       'yerkesik', 'yayla', 'gokceovacik', 'cokertme', 'kizilyaka',
       'karginkuru', 'catalarik', 'bezkese', 'hatipirimi', 'zaferler',
       'karagozler', 'firuzpasa-gazipasa', 'ayazkiyi', 'esenkoy', 'seyh',
       'karakoy', 'mergenli', 'dogan', 'kavakarasi', 'kizilkaya',
       'kumkoy', 'yazi', 'hacirustem', 'yaras', 'tepearasi', 'sindi',
       'kiran', 'koru', 'gerisburnu', 'citlik', 'golbasi', 'kiramettin',
       'incirkoy', 'burgaz'], dtype=object)

In [115]:
df.drop(["location", "img-link href"], axis=1, inplace=True)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly            8136 non-null   object
 2   celly 2          8136 non-null   object
 3   celly 3          8136 non-null   object
 4   celly 4          6858 non-null   object
 5   city             8136 non-null   object
 6   district         8136 non-null   object
 7   neighborhood     8136 non-null   object
dtypes: object(8)
memory usage: 508.6+ KB

In [117]:
df.head()

,list-view-price,celly,celly 2,celly 3,celly 4,city,district,neighborhood
0,12.000,1 +\n 1,55 m²,25\n Yaşında,Yüksek Giriş,izmir,konak,kilic-reis
1,16.000,3 +\n 1,150 m²,35\n Yaşında,3. Kat,izmir,konak,akin-simav
2,200,2 +\n 1,55 m²,2\n Yaşında,Ara Kat,izmir,buca,adatepe
3,200,2 +\n 1,60 m²,2\n Yaşında,3. Kat,izmir,buca,yaylacik
4,18.000,3 +\n 1,160 m²,27\n Yaşında,3. Kat,izmir,karsiyaka,bahcelievler

In [118]:
print(df[["city", "district", "neighborhood"]].sample(50))

                city     district           neighborhood
6213           mugla     koycegiz               gulpinar
7769           mugla       ortaca               kemaliye
6320           mugla       bodrum                  bitez
142            izmir    karsiyaka               bahariye
4000  afyonkarahisar       merkez          veysel-karani
5315         denizli    pamukkale                kinikli
3739          manisa     turgutlu            selvilitepe
2294           izmir        cesme            ismet-inonu
4424           aydin        didim                 efeler
6935           mugla       bodrum                  bitez
4352           aydin       efeler                   orta
6161           mugla       bodrum                  yahsi
6590           mugla       bodrum                karabag
913            izmir     menderes  gumuldur-fevzi-cakmak
383            izmir   karabaglar           basin-sitesi
3769          manisa    yunusemre               muradiye
5733           mugla      mentese            emirbeyazit
8060           mugla     koycegiz                ulucami
2498           izmir        cesme                musalla
466            izmir         urla                  ozbek
4191           aydin        didim               altinkum
8080           mugla       bodrum                 dirmil
3773          manisa   sehzadeler          1-anafartalar
1026           izmir      bornova                kizilay
995            izmir  seferihisar      colak-ibrahim-bey
1278           izmir       odemis                  zafer
6070           mugla       bodrum                  bitez
1114           izmir        konak                goztepe
4241           aydin        didim              fevzipasa
8132           mugla       bodrum                 golkoy
4461           aydin         cine              hamitabat
424            izmir        cesme                alacati
5274         denizli     saraykoy                ataturk
632            izmir   guzelbahce                  yelki
6854           mugla        milas                  becin
2632           izmir        cesme                 dalyan
635            izmir        konak              zafertepe
6650           mugla      mentese               orhaniye
5377         denizli    pamukkale            kervansaray
6324           mugla       bodrum                yenikoy
4771           aydin       efeler                   orta
2541           izmir      bornova                  inonu
113            izmir    narlidere                camtepe
3407           izmir      torbali                 pancar
1010           izmir         foca             cumhuriyet
1134           izmir    karsiyaka                  aksoy
4005  afyonkarahisar       merkez                erenler
2671           izmir     menderes         gumuldur-inonu
1705           izmir       odemis                ataturk
1001           izmir        konak               alsancak

In [119]:
df.columns

Index(['list-view-price', 'celly', 'celly 2', 'celly 3', 'celly 4', 'city',
       'district', 'neighborhood'],
      dtype='object')

In [120]:
df["celly"].unique()

array(['1 +\n                        1', '3 +\n                        1',
       '2 +\n                        1', '4 +\n                        1',
       '4 +\n                        2', '5 +\n                        1',
       '6 +\n                        1', '7 +\n                        1',
       '21 +\n                        1',
       '6 +\n                        2', '5 +\n                        2',
       'Stüdyo', '7 +\n                        2',
       '3 +\n                        2', '2 +\n                        0',
       '6 +\n                        0', '9 +\n                        4',
       '9 +\n                        1', '3 +\n                        0',
       '1 +\n                        15',
       '2 +\n                        2', '8 +\n                        1',
       '41 +\n                        4',
       '4 +\n                        0',
       '1 +\n                        25',
       '4 +\n                        4', '3 +\n                        4',
       '1 +\n                        2', '3 +\n                        3',
       '31 +\n                        1',
       '4 +\n                        3', '9 +\n                        5',
       '8 +\n                        4', '4 +\n                        5',
       '9 +\n                        3',
       '25 +\n                        5',
       '8 +\n                        0', '9 +\n                        9',
       '14 +\n                        6',
       '10 +\n                        1'], dtype=object)

In [121]:
df["celly"] = df["celly"].apply(lambda x: x.replace("Stüdyo", "1 + 0"))
df["celly"] = df["celly"].apply(lambda x: x.replace("\n", ""))
df["room"] = df["celly"].apply(lambda x: x.split("+")[0]).astype(int)
df["living_room"] = df["celly"].apply(lambda x: x.split("+")[1]).astype(int)

In [122]:
print(df["room"].unique())
print(df["living_room"].unique())

[ 1  3  2  4  5  6  7 21  9  8 41 31 25 14 10]
[ 1  2  0  4 15 25  3  5  9  6]

In [123]:
df.drop("celly", axis=1, inplace=True)

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 2          8136 non-null   object
 2   celly 3          8136 non-null   object
 3   celly 4          6858 non-null   object
 4   city             8136 non-null   object
 5   district         8136 non-null   object
 6   neighborhood     8136 non-null   object
 7   room             8136 non-null   int32
 8   living_room      8136 non-null   int32
dtypes: int32(2), object(7)
memory usage: 508.6+ KB

In [125]:
df["celly 2"].unique()

array(['55 m²', '150 m²', '60 m²', '160 m²', '135 m²', '67 m²', '140 m²',
       '170 m²', '130 m²', '230 m²', '220 m²', '210 m²', '89 m²',
       '120 m²', '200 m²', '355 m²', '75 m²', '110 m²', '100 m²', '65 m²',
       '145 m²', '115 m²', '1.000 m²', '250 m²', '105 m²', '50 m²',
       '87 m²', '90 m²', '85 m²', '155 m²', '275 m²', '240 m²', '95 m²',
       '174 m²', '80 m²', '125 m²', '180 m²', '165 m²', '350 m²', '97 m²',
       '45 m²', '300 m²', '84 m²', '42 m²', '98 m²', '86 m²', '500 m²',
       '70 m²', '51 m²', '73 m²', '132 m²', '325 m²', '141 m²', '450 m²',
       '600 m²', '47 m²', '72 m²', '71 m²', '3.000 m²', '175 m²',
       '320 m²', '280 m²', '156 m²', '190 m²', '78 m²', '162 m²',
       '185 m²', '18 m²', '330 m²', '151 m²', '56 m²', '136 m²', '131 m²',
       '48 m²', '580 m²', '119 m²', '147 m²', '77 m²', '245 m²', '35 m²',
       '375 m²', '146 m²', '161 m²', '163 m²', '149 m²', '206 m²',
       '138 m²', '93 m²', '63 m²', '41 m²', '183 m²', '96 m²', '108 m²',
       '76 m²', '475 m²', '359 m²', '124 m²', '91 m²', '194 m²', '43 m²',
       '4.500 m²', '68 m²', '205 m²', '20 m²', '103 m²', '53 m²',
       '270 m²', '58 m²', '302 m²', '505 m²', '800 m²', '168 m²',
       '154 m²', '368 m²', '178 m²', '40 m²', '750 m²', '92 m²', '181 m²',
       '400 m²', '30 m²', '260 m²', '460 m²', '390 m²', '64 m²', '360 m²',
       '340 m²', '550 m²', '38 m²', '121 m²', '4.000 m²', '295 m²',
       '112 m²', '137 m²', '22 m²', '128 m²', '3.200 m²', '440 m²',
       '122 m²', '370 m²', '380 m²', '204 m²', '148 m²', '142 m²',
       '520 m²', '166 m²', '870 m²', '143 m²', '57 m²', '286 m²', '81 m²',
       '116 m²', '209 m²', '59 m²', '106 m²', '74 m²', '1.301 m²',
       '52 m²', '167 m²', '217 m²', '25 m²', '290 m²', '196 m²', '184 m²',
       '159 m²', '195 m²', '640 m²', '285 m²', '235 m²', '337 m²',
       '211 m²', '134 m²', '832 m²', '152 m²', '88 m²', '213 m²',
       '126 m²', '255 m²', '199 m²', '127 m²', '11 m²', '66 m²', '399 m²',
       '187 m²', '341 m²', '745 m²', '118 m²', '144 m²', '15 m²',
       '535 m²', '5.500 m²', '114 m²', '208 m²', '94 m²', '46 m²',
       '173 m²', '900 m²', '225 m²', '402 m²', '111 m²', '193 m²',
       '1.100 m²', '212 m²', '102 m²', '177 m²', '101 m²', '164 m²',
       '158 m²', '62 m²', '172 m²', '9.000 m²', '21 m²', '117 m²',
       '82 m²', '49 m²', '176 m²', '182 m²', '981 m²', '256 m²', '32 m²',
       '3.510 m²', '215 m²', '1.057 m²', '171 m²', '79 m²', '169 m²',
       '28 m²', '104 m²', '201 m²', '310 m²', '1.150 m²', '2.000 m²',
       '228 m²', '700 m²', '349 m²', '203 m²', '510 m²', '31 m²', '33 m²',
       '950 m²', '650 m²', '252 m²', '493 m²', '265 m²', '1.400 m²',
       '5 m²', '113 m²', '36 m²', '317 m²', '850 m²', '249 m²', '109 m²',
       '420 m²', '995 m²', '545 m²', '192 m²', '1.250 m²', '490 m²',
       '760 m²', '157 m²', '54 m²', '405 m²', '99 m²'], dtype=object)

In [126]:
df["celly 2"] = df["celly 2"].apply(lambda x: x.replace(".", ""))
df["area"] = df["celly 2"].apply(lambda x: x.split(" ")[0]).astype(int)

In [127]:
df["area"].unique()

array([  55,  150,   60,  160,  135,   67,  140,  170,  130,  230,  220,
        210,   89,  120,  200,  355,   75,  110,  100,   65,  145,  115,
       1000,  250,  105,   50,   87,   90,   85,  155,  275,  240,   95,
        174,   80,  125,  180,  165,  350,   97,   45,  300,   84,   42,
         98,   86,  500,   70,   51,   73,  132,  325,  141,  450,  600,
         47,   72,   71, 3000,  175,  320,  280,  156,  190,   78,  162,
        185,   18,  330,  151,   56,  136,  131,   48,  580,  119,  147,
         77,  245,   35,  375,  146,  161,  163,  149,  206,  138,   93,
         63,   41,  183,   96,  108,   76,  475,  359,  124,   91,  194,
         43, 4500,   68,  205,   20,  103,   53,  270,   58,  302,  505,
        800,  168,  154,  368,  178,   40,  750,   92,  181,  400,   30,
        260,  460,  390,   64,  360,  340,  550,   38,  121, 4000,  295,
        112,  137,   22,  128, 3200,  440,  122,  370,  380,  204,  148,
        142,  520,  166,  870,  143,   57,  286,   81,  116,  209,   59,
        106,   74, 1301,   52,  167,  217,   25,  290,  196,  184,  159,
        195,  640,  285,  235,  337,  211,  134,  832,  152,   88,  213,
        126,  255,  199,  127,   11,   66,  399,  187,  341,  745,  118,
        144,   15,  535, 5500,  114,  208,   94,   46,  173,  900,  225,
        402,  111,  193, 1100,  212,  102,  177,  101,  164,  158,   62,
        172, 9000,   21,  117,   82,   49,  176,  182,  981,  256,   32,
       3510,  215, 1057,  171,   79,  169,   28,  104,  201,  310, 1150,
       2000,  228,  700,  349,  203,  510,   31,   33,  950,  650,  252,
        493,  265, 1400,    5,  113,   36,  317,  850,  249,  109,  420,
        995,  545,  192, 1250,  490,  760,  157,   54,  405,   99])

In [128]:
df.drop(["celly 2"], axis=1, inplace=True)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 3          8136 non-null   object
 2   celly 4          6858 non-null   object
 3   city             8136 non-null   object
 4   district         8136 non-null   object
 5   neighborhood     8136 non-null   object
 6   room             8136 non-null   int32
 7   living_room      8136 non-null   int32
 8   area             8136 non-null   int32
dtypes: int32(3), object(6)
memory usage: 476.8+ KB

In [130]:
df["celly 3"].unique()

array(['25\n                      Yaşında',
       '35\n                      Yaşında',
       '2\n                      Yaşında',
       '27\n                      Yaşında',
       '15\n                      Yaşında',
       '10\n                      Yaşında',
       '20\n                      Yaşında',
       '30\n                      Yaşında',
       '16\n                      Yaşında',
       '11\n                      Yaşında',
       '31\n                      Yaşında', 'Sıfır Bina',
       '5\n                      Yaşında',
       '26\n                      Yaşında',
       '12\n                      Yaşında',
       '4\n                      Yaşında',
       '6\n                      Yaşında',
       '22\n                      Yaşında',
       '23\n                      Yaşında',
       '29\n                      Yaşında',
       '3\n                      Yaşında',
       '8\n                      Yaşında',
       '33\n                      Yaşında',
       '50\n                      Yaşında',
       '7\n                      Yaşında',
       '18\n                      Yaşında',
       '32\n                      Yaşında',
       '28\n                      Yaşında',
       '14\n                      Yaşında',
       '40\n                      Yaşında',
       '9\n                      Yaşında',
       '21\n                      Yaşında',
       '45\n                      Yaşında',
       '38\n                      Yaşında',
       '19\n                      Yaşında',
       '24\n                      Yaşında',
       '17\n                      Yaşında',
       '1\n                      Yaşında',
       '36\n                      Yaşında',
       '34\n                      Yaşında',
       '13\n                      Yaşında',
       '42\n                      Yaşında',
       '44\n                      Yaşında',
       '43\n                      Yaşında',
       '37\n                      Yaşında',
       '55\n                      Yaşında',
       '47\n                      Yaşında',
       '39\n                      Yaşında',
       '49\n                      Yaşında',
       '52\n                      Yaşında',
       '300\n                      Yaşında',
       '199\n                      Yaşında',
       '48\n                      Yaşında',
       '60\n                      Yaşında',
       '61\n                      Yaşında',
       '600\n                      Yaşında',
       '100\n                      Yaşında'], dtype=object)

In [131]:
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("Sıfır Bina", "0 Yaşında"))
df["celly 3"] = df["celly 3"].apply(lambda x: x.replace("\n", " "))
df["age"] = df["celly 3"].apply(lambda x: x.split(" ")[0]).astype(int)

In [132]:
df["age"].unique()

array([ 25,  35,   2,  27,  15,  10,  20,  30,  16,  11,  31,   0,   5,
        26,  12,   4,   6,  22,  23,  29,   3,   8,  33,  50,   7,  18,
        32,  28,  14,  40,   9,  21,  45,  38,  19,  24,  17,   1,  36,
        34,  13,  42,  44,  43,  37,  55,  47,  39,  49,  52, 300, 199,
        48,  60,  61, 600, 100])

In [133]:
df.drop("celly 3", axis=1, inplace=True)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 4          6858 non-null   object
 2   city             8136 non-null   object
 3   district         8136 non-null   object
 4   neighborhood     8136 non-null   object
 5   room             8136 non-null   int32
 6   living_room      8136 non-null   int32
 7   area             8136 non-null   int32
 8   age              8136 non-null   int32
dtypes: int32(4), object(5)
memory usage: 445.1+ KB

In [135]:
df["celly 4"].isnull().sum()

1278

In [136]:
df["celly 4"].unique()

array(['Yüksek Giriş', '3. Kat', 'Ara Kat', '4. Kat', '2. Kat', 'Zemin',
       nan, 'Tripleks', 'Villa Katı', 'Bahçe Katı', '1. Kat', '8. Kat',
       '6. Kat', 'Giriş Katı', '5. Kat', '7. Kat', '21 ve üzeri',
       'En Üst Kat', 'Teras Katı', '13. Kat', 'Kot 1', '9. Kat',
       'Çatı Katı', '10. Kat', '12. Kat', 'Kot 2', '15. Kat',
       'Bodrum ve Zemin', '11. Kat', 'Kot 3', '18. Kat', '20. Kat',
       'Yarı Bodrum', '14. Kat', '16. Kat', '17. Kat', 'Asma Kat',
       'Bodrum', '19. Kat'], dtype=object)

In [138]:
replace_dict = {
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Yüksek Giriş': '1. Kat',
    'Ara Kat': '3. Kat',
    'En Üst Kat': '5. Kat',
    'Bahçe Katı': '0. Kat',
    'Yarı Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    'Çatı Katı': '5. Kat',
    'Zemin': '0. Kat',
    'Giriş Katı': '0. Kat',
    'Villa Katı': '0. Kat',
    '21 ve üzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Asma Kat': '1. Kat',
    'Tripleks': '0. Kat',
    'Teras Katı': '5. Kat',
    'nan': '2. Kat',
}
df["celly 4"] = df["celly 4"].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df["celly 4"].dropna(inplace=True)
df["floor"] = df["celly 4"].apply(lambda x: x.split(".")[0]).astype(int)

In [139]:
df["floor"].unique()

array([ 1,  3,  4,  2,  0,  8,  6,  5,  7, 21, 13, -1,  9, 10, 12, -2, 15,
       11, -3, 18, 20, 14, 16, 17, 19])

In [140]:
df.drop("celly 4", axis=1, inplace=True)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   city             8136 non-null   object
 2   district         8136 non-null   object
 3   neighborhood     8136 non-null   object
 4   room             8136 non-null   int32
 5   living_room      8136 non-null   int32
 6   area             8136 non-null   int32
 7   age              8136 non-null   int32
 8   floor            8136 non-null   int32
dtypes: int32(5), object(4)
memory usage: 413.3+ KB

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   city             8136 non-null   object
 2   district         8136 non-null   object
 3   neighborhood     8136 non-null   object
 4   room             8136 non-null   int32
 5   living_room      8136 non-null   int32
 6   area             8136 non-null   int32
 7   age              8136 non-null   int32
 8   floor            8136 non-null   int32
dtypes: int32(5), object(4)
memory usage: 413.3+ KB

In [144]:
df["list-view-price"].unique()

array(['12.000', '16.000', '200', '18.000', '45.000', '35.000', '25.000',
       '22.000', '15.000', '24.000', '240.000', '1.200.000', '30.000',
       '20.000', '180.000', '60.000', '10.500', '10.000', '55.000',
       '13.000', '12.500', '21.000', '250.000', '190.000', '42.500',
       '17.000', '11.000', '450.000', '27.500', '80.000', '23.000',
       '550.000', '19.750', '75.000', '50.000', '34.000', '19.500',
       '28.500', '24.500', '325.000', '28.000', '29.000', '750.000',
       '600.000', '16.750', '500.000', '14.000', '220.000', '19.000',
       '21.500', '350.000', '9.000', '14.500', '25.500', '18.500',
       '300.000', '480.000', '150.000', '5.000', '16.500', '525.000',
       '370.000', '13.750', '17.500', '27.000', '11.500', '200.000',
       '90.000', '64.000', '15.750', '118.000', '1.000.000', '400.000',
       '70.000', '13.500', '210.000', '38.000', '1.800.000', '31.500',
       '57.500', '49.900', '2.000', '4.875.000', '8.500', '700.000',
       '15.250', '7.000', '40.000', '18.750', '22.500', '1.250.000',
       '3.500', '32.000', '104.000', '1.600.000', '120.000', '20.500',
       '650.000', '65.000', '48.000', '850.000', '17.250', '48.500',
       '100.000', '22.500.000', '115.000', '57.000', '53.000', '66.000',
       '12.950', '62.000', '265.000', '18.250', '185.000', '41.000',
       '110.000', '26.900', '17.750', '62.500', '130.000', '7.500',
       '33.000', '29.999', '14.750', '37.000', '16.200', '275.000',
       '26.000', '8.000', '375.000', '8.250', '39.500', '98.500',
       '46.000', '28.900', '9.250', '58.000', '15.900', '10.757',
       '85.000', '10.750', '1.400.000', '175.000', '460.000', '29.500',
       '13.250', '20.999', '31.000', '9.500', '15.500', '56.000',
       '14.700', '269.900', '14.100', '530.000', '16.250', '49.000',
       '36.500', '225.000', '6.500', '17.950', '10.900', '8.750',
       '620.000', '140.000', '9.750', '125.000', '24.750', '2.550.000',
       '1.000', '6.000', '95.000', '37.500', '7.250', '43.000', '5.500',
       '83.000', '380.000', '280.000', '350', '4.500', '800.000',
       '39.000', '21.750', '235.000', '96.000', '1.100.000', '425.000',
       '52.500', '19.360', '4.000', '9.800', '680.000', '15.590.000',
       '34.500', '170.000', '26.500', '18.450', '1.650.000', '23.500',
       '365.000', '36.000', '10.400', '10.999', '160.000', '7.950',
       '785.000', '2.250.000', '260.000', '13.900.000', '165.000',
       '2.500', '290.000', '300', '475.000', '9.999', '9.200', '330.000',
       '2.265.000', '590.000', '23', '29.750', '14.250', '1.050.000',
       '1.750.000', '415.000', '430.000', '11.111', '720.000', '625.000',
       '1.350.000', '15.950', '14.999', '195.000', '8.000.000',
       '1.025.000', '67.000', '900.000', '1.500', '14.990', '950.000',
       '270.000', '3.000', '10.800', '13.950', '780.000', '320.000',
       '1.250', '63.000', '1.200', '675.000', '8.950', '760.000',
       '420.000', '13', '67.500', '12', '26.750', '4.950', '440.000',
       '15', '390.000', '1.725.000', '7.800', '7.750', '12.750',
       '16.500.000', '11.250', '7.900', '12.850', '11.750', 7.5, 4.5,
       10.0, 8.0, 19.0, 6.5, 18.5, 9.5, 7.0, 12.0, 6.0, 8.5, 15.0, 9.0,
       7.75, 6.75, 16.5, 20.0, 22.0, 7.25, 21.0, 14.0, '4.250', '5.250',
       '6.750', '6.600', '5.100', '5.600', '9.850', '26.000.000', '3.400',
       '14.300', '8.700', '9.950.000', '120.000.000', '111', '11',
       '890.000', '42.000', '4.650.000', '1.700', '8.550', '8.900',
       '7.200', '3.500.000', '11.900', '1.190.000', '1.840.000', '6.250',
       '8.100', '750', '7.999', '3.999', '6.900', '5.750', '7.400',
       '6.999', '1.850.000', '7.100', '6.800', '5.700', '9.900', '4.999',
       '4.750', '5.999', '8.400', '8.300', '44.000', '740.000',
       '2.500.000', '360.000', '105.000', '355.000', '255.000', '72.000',
       '1', '485.000', '285.000', '59.500', '245.000', '4.050.000',
       '135.000', '32.500', '510.000', '1.225.000', '3.900.000', '3.250',
       '30.000.000', '39.900', '243.000', '2.300.000', '25.000.000',
       '49.950', '73.000', '840.000', '2.275.000', '410.000', '310.000',
       '7.300', '32.750', '3.750', '3.000.000', '1.700.000', '1.150.000',
       '2.750', '4.100', '16.350', '17.000.000', '921.180', '145.000',
       '41.600', '495.000', '65.500', '2.250', '595.000', '19.800',
       '54.000', '50.000.000', '48.000.000', '465.000', '860.000',
       '630.000', '995.000', '241.800', '340.000', '4.450.000',
       '6.500.000', '2.175.000', '2.000.000', '2.200.000', '6.150.000',
       '16.400', '295.000', '1.070.000', '87.000', '1.750', '875.000',
       '560.000', '3.250.000', '790.000'], dtype=object)

In [145]:
df["list-view-price"] = df["list-view-price"].astype(str).apply(lambda x: x.replace(".", ""))
df["price"] = df["list-view-price"].astype(int)

In [146]:
df["price"].unique()

array([    12000,     16000,       200,     18000,     45000,     35000,
           25000,     22000,     15000,     24000,    240000,   1200000,
           30000,     20000,    180000,     60000,     10500,     10000,
           55000,     13000,     12500,     21000,    250000,    190000,
           42500,     17000,     11000,    450000,     27500,     80000,
           23000,    550000,     19750,     75000,     50000,     34000,
           19500,     28500,     24500,    325000,     28000,     29000,
          750000,    600000,     16750,    500000,     14000,    220000,
           19000,     21500,    350000,      9000,     14500,     25500,
           18500,    300000,    480000,    150000,      5000,     16500,
          525000,    370000,     13750,     17500,     27000,     11500,
          200000,     90000,     64000,     15750,    118000,   1000000,
          400000,     70000,     13500,    210000,     38000,   1800000,
           31500,     57500,     49900,      2000,   4875000,      8500,
          700000,     15250,      7000,     40000,     18750,     22500,
         1250000,      3500,     32000,    104000,   1600000,    120000,
           20500,    650000,     65000,     48000,    850000,     17250,
           48500,    100000,  22500000,    115000,     57000,     53000,
           66000,     12950,     62000,    265000,     18250,    185000,
           41000,    110000,     26900,     17750,     62500,    130000,
            7500,     33000,     29999,     14750,     37000,     16200,
          275000,     26000,      8000,    375000,      8250,     39500,
           98500,     46000,     28900,      9250,     58000,     15900,
           10757,     85000,     10750,   1400000,    175000,    460000,
           29500,     13250,     20999,     31000,      9500,     15500,
           56000,     14700,    269900,     14100,    530000,     16250,
           49000,     36500,    225000,      6500,     17950,     10900,
            8750,    620000,    140000,      9750,    125000,     24750,
         2550000,      1000,      6000,     95000,     37500,      7250,
           43000,      5500,     83000,    380000,    280000,       350,
            4500,    800000,     39000,     21750,    235000,     96000,
         1100000,    425000,     52500,     19360,      4000,      9800,
          680000,  15590000,     34500,    170000,     26500,     18450,
         1650000,     23500,    365000,     36000,     10400,     10999,
          160000,      7950,    785000,   2250000,    260000,  13900000,
          165000,      2500,    290000,       300,    475000,      9999,
            9200,    330000,   2265000,    590000,        23,     29750,
           14250,   1050000,   1750000,    415000,    430000,     11111,
          720000,    625000,   1350000,     15950,     14999,    195000,
         8000000,   1025000,     67000,    900000,      1500,     14990,
          950000,    270000,      3000,     10800,     13950,    780000,
          320000,      1250,     63000,      1200,    675000,      8950,
          760000,    420000,        13,     67500,        12,     26750,
            4950,    440000,        15,    390000,   1725000,      7800,
            7750,     12750,  16500000,     11250,      7900,     12850,
           11750,        75,        45,       100,        80,       190,
              65,       185,        95,        70,       120,        60,
              85,       150,        90,       775,       675,       165,
             220,       725,       210,       140,      4250,      5250,
            6750,      6600,      5100,      5600,      9850,  26000000,
            3400,     14300,      8700,   9950000, 120000000,       111,
              11,    890000,     42000,   4650000,      1700,      8550,
            8900,      7200,   3500000,     11900,   1190000,   1840000,
            6250,      8100,       750,      7999,      3999,      6900,
            5750,      7400,      6999,   1850000,      7100,      6800,
            5700,      9900,      4999,      4750,      5999,      8400,
            8300,     44000,    740000,   2500000,    360000,    105000,
          355000,    255000,     72000,         1,    485000,    285000,
           59500,    245000,   4050000,    135000,     32500,    510000,
         1225000,   3900000,      3250,  30000000,     39900,    243000,
         2300000,  25000000,     49950,     73000,    840000,   2275000,
          410000,    310000,      7300,     32750,      3750,   3000000,
         1700000,   1150000,      2750,      4100,     16350,  17000000,
          921180,    145000,     41600,    495000,     65500,      2250,
          595000,     19800,     54000,  50000000,  48000000,    465000,
          860000,    630000,    995000,    241800,    340000,   4450000,
         6500000,   2175000,   2000000,   2200000,   6150000,     16400,
          295000,   1070000,     87000,      1750,    875000,    560000,
         3250000,    790000])

In [147]:
drop_columns(df, ["list-view-price"])

In [148]:
df.columns

Index(['city', 'district', 'neighborhood', 'room', 'living_room', 'area',
       'age', 'floor', 'price'],
      dtype='object')

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   object
 1   district      8136 non-null   object
 2   neighborhood  8136 non-null   object
 3   room          8136 non-null   int32
 4   living_room   8136 non-null   int32
 5   area          8136 non-null   int32
 6   age           8136 non-null   int32
 7   floor         8136 non-null   int32
 8   price         8136 non-null   int32
dtypes: int32(6), object(3)
memory usage: 381.5+ KB

In [150]:
df.to_csv("data.csv", index=False)